.dataset-container {
  padding: 20px;
  overflow: hidden; /* Hilangkan scroll pada container */
}

.dataset-layout {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Tambahkan jarak antara filter produsen dan daftar dataset */
}

.filter-box {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px; /* Buat tepi filter produsen agak bulat */
  position: sticky; /* Agar tetap di posisi saat discroll */
  top: 0;
  height: fit-content; /* Menghindari scroll di bagian filter */
}

.filter-box h3 {
  font-size: 18px; /* Ukuran teks judul lebih kecil */
  font-weight: 620;
}

.producer-search {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px; /* Buat input pencarian agak bulat */
}

.producer-columns {
  max-height: 500px;
  overflow-y: auto; /* Scroll vertikal untuk produsen tetap ada jika terlalu panjang */
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.producer-column {
  cursor: pointer;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  border-radius: 5px; /* Buat kolom produsen agak bulat */
}

.producer-column:hover {
  background-color: #f0f0f0;
}

.producer-column span {
  display: block;
}

.dataset-list {
  width: 75%;
}

.dataset-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  cursor: pointer;
}

.dataset-item img {
  width: 100px; /* Ukuran gambar lebih kecil */
  height: 100px;
  margin-right: 20px; /* Tambahkan jarak antara gambar dan teks */
}

.dataset-details {
  flex-grow: 1;
}

.dataset-details h3 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.dataset-details p {
  margin: 5px 0;
  font-size: 14px;
  display: flex;
  justify-content: space-between; /* Menyebarkan item ke kiri dan kanan */
  align-items: center;
}

.dataset-details p.dataset-meta {
  display: flex;
  justify-content: space-between; /* Buat elemen berjejeran */
  gap: 10px; /* Beri jarak antar elemen */
}

.dataset-meta .opd, .dataset-meta .modified {
  flex: 1; /* Bagi ruang antar elemen secara proporsional */
}

.dataset-meta .modified {
  text-align: right; /* Posisikan teks modified di kanan */
}

.dataset-details p strong {
  margin-right: 10px;
}
.dataset-description {
  font-style: italic;
  color: #555; /* Warna lebih terang untuk deskripsi sekilas */
}

.back-button {
  cursor: pointer;
  margin-bottom: 15px;
  color: blue;
}

.download-link {
  color: #007bff;
  text-decoration: none;
}

.download-link:hover {
  text-decoration: underline;
}

h3 {
  position: sticky;
  top: 0;
  background-color: #fff;
  padding: 10px 0;
  z-index: 10;
  font-size: 18px; /* Ukuran judul lebih kecil */
}
